/* CSS cho modal */
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed; /* Đặt vị trí cố định */
    z-index: 1; /* Đảm bảo modal xuất hiện trên tất cả các phần tử khác */
    left: 0;
    top: 0;
    width: 100%; /* Chiếm toàn bộ chiều rộng màn hình */
    height: 100%; /* Chiếm toàn bộ chiều cao màn hình */
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ mờ */
    justify-content: center;
    align-items: center;
}

/* Nội dung của modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    position: relative;
}

/* Nút đóng modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #aaa;
    cursor: pointer;
}

/* Các nút trong footer */
.modal-footer .btn {
    margin: 5px;
}
